<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mentions Légales et Politique de Confidentialité</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/StyleFormulaire.css' %}">
</head>
<body>
     <!-- Ajout du logo -->
        <a href="{% url 'index' %}" style="text-decoration: none; color: #09433d;">
        <h1> <div style="text-align: center; margin-bottom: 20px;">
        <img src="{% static 'image/logo.jpeg' %}" alt="Logo" style="max-width: 400px;">
    </div>
 À propos de nous</h1>
  </a>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Retourner à la carte des évènements</a></li>
            <li><a href="{% url 'calendrier_evenement' %}">Voir le calendrier des événements</a></li> 
            <li><a href="{% url 'ajouter_evenement' %}">Ajouter mon évènement</a></li>
            <li><a href="{% url 'a_propos' %}">À propos de nous</a></li>
            <li><a href="mailto:contact@cartagrimpe.fr">Nous contacter</a></li>
            <li><a href="{% url 'mentions_legales' %}">Voir les mentions légales</a></li>
        </ul>
    </nav>


    <div class="container">
       
        
        <h2>À propos</h2>
        <p>

        </p>
        <h2> </h2>
 <p>

        </p>
     
    </div>
</body>
</html>

