<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter mon évènement</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/StyleFormulaire.css' %}">
    <script>
        // Cette fonction est appelée lors du chargement de la page
        document.addEventListener('DOMContentLoaded', function() {
            // Cacher le formulaire initialement
            document.getElementById('event-form').style.display = 'none';

            // Afficher le formulaire après un certain temps ou un événement
            // Par exemple, ici on le montre après 2 secondes
            setTimeout(function() {
                document.getElementById('event-form').style.display = 'block';
            }, 2000); // Changez 2000 pour le nombre de millisecondes que vous souhaitez
        });

        function convertToBase64(event) {
            const file = event.target.files[0];  
            if (file) {
                const reader = new FileReader();     
                reader.onload = function(e) {
                    const base64String = e.target.result;
                    document.getElementById('base64-output').value = base64String;
                    document.getElementById('preview').src = base64String;
                };
                reader.readAsDataURL(file);
            }
        }

        function checkOrganization() {
            const organizationSelect = document.getElementById('id_enseigne');
            const otherInput = document.getElementById('other-input');

            if (organizationSelect.value === 'autre') {
                otherInput.style.display = 'block';
            } else {
                otherInput.style.display = 'none';
            }
        }

        function validateDates() {
            const dateDebut = new Date(document.getElementById('id_date_de_debut').value);
            const dateFin = new Date(document.getElementById('id_date_de_fin').value);

            if (dateFin < dateDebut) {
                alert("La date de fin doit être égale ou postérieure à la date de début.");
                return false;
            }
            return true;
        }
    </script>
</head>

<body>
    <!-- Ajout du logo -->
    <a href="{% url 'index' %}" style="text-decoration: none; color: #09433d;">
  <h1> <div style="text-align: center; margin-bottom: 20px;">
        <img src="{% static 'image/logo.jpeg' %}" alt="Logo" style="max-width: 400px;">
    </div> Ajouter mon événement </h1>
 </a>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Retourner à la carte des évènements</a></li>
            <li><a href="{% url 'calendrier_evenement' %}">Voir le calendrier des événements</a></li> 
            <li><a href="{% url 'ajouter_evenement' %}">Ajouter mon évènement</a></li>
            <li><a href="{% url 'a_propos' %}">À propos de nous</a></li>
            <li><a href="mailto:contact@cartagrimpe.fr">Nous contacter</a></li>
            <li><a href="{% url 'mentions_legales' %}">Voir les mentions légales</a></li>
        </ul>
    </nav>


<form method="post" enctype="multipart/form-data" onsubmit="return validateDates();">
    {% csrf_token %}
    
   {{ form.as_p }}
   
<div class="button-container">
    <input type="submit" class="submit-button" value="Envoyer sur la carte">
</div>
</form>


</body>
</html>

