{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendrier des Événements</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/StyleFormulaire.css' %}">
</head>
<body>
    <!-- Ajout du logo -->
    <a href="{% url 'index' %}" style="text-decoration: none; color: #09433d;">
           <h1> <div style="text-align: center; margin-bottom: 20px;">
        <img src="{% static 'image/logo.jpeg' %}" alt="Logo" style="max-width: 400px;">
    </div>
Calendrier des événements </h1>
 </a>
    <nav>
        <ul class="menu">
            <li><a href="{% url 'index' %}">Retourner à la carte des évènements</a></li>
            <li><a href="{% url 'calendrier_evenement' %}">Voir le calendrier des événements</a></li> 
            <li><a href="{% url 'ajouter_evenement' %}">Ajouter mon évènement</a></li>
            <li><a href="{% url 'a_propos' %}">À propos de nous</a></li>
            <li><a href="mailto:contact@cartagrimpe.fr">Nous contacter</a></li>
            <li><a href="{% url 'mentions_legales' %}">Voir les mentions légales</a></li>
        </ul>
    </nav>

   <form method="get" action="{% url 'calendrier_evenement' %}">
    <label for="date_debut">Afficher à partir de la date :</label>
    <input type="date" id="date_debut" name="date_debut" value="{{ date_debut }}" required>
<br>
<br>
    <label for="mois">Afficher les événements du mois :</label>
    <select id="mois" name="mois">
        <option value="">Tous les mois</option>
        {% for mois in mois_annees %}
            <option value="{{ mois }}" {% if mois == mois_selectionne %}selected{% endif %}>{{ mois }}</option>
        {% endfor %}
    </select>
<br>
<br>
    <label for="type">Afficher les événements de type :</label>
    <select id="type" name="type">
        <option value="">Tous les types</option>
        <option value="Contest" {% if type_evenement == "Contest" %}selected{% endif %}>Contest</option>
        <option value="Rassemblement" {% if type_evenement == "Rassemblement" %}selected{% endif %}>Rassemblement</option>
        <option value="Compétition" {% if type_evenement == "Compétition" %}selected{% endif %}>Compétition</option>
        <option value="Film" {% if type_evenement == "Film" %}selected{% endif %}>Film</option>
    </select>
    <br>
    <br>
<div class="button-container">
    <button type="submit" class="submit-button">Filtrer</button>
    <button type="button" class="submit-button" onclick="location.href='{{ request.path }}'">Réinitialiser les filtres</button>
    </div>
</form>


   <div class="pagination">
            <span class="step-links">
                {% if events.has_previous %}
                    <a href="?page=1">&laquo; Première page </a>
                    <a href="?page={{ events.previous_page_number }}">Page précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ events.number }} sur {{ events.paginator.num_pages }}
                </span>

                {% if events.has_next %}
                    <a href="?page={{ events.next_page_number }}">Page suivante</a>
                    <a href="?page={{ events.paginator.num_pages }}">Dernière page &raquo;</a>
                {% endif %}
            </span>
        </div>


    <div>
    {% if events.object_list|length == 0 %}
        <div>Aucun événement à venir.</div>
    {% else %}
{% for event in events %}
    <div class="event {% if event.type == 'Contest' %}event-contest{% elif event.type == 'Rassemblement' %}event-rassemblement{% elif event.type == 'Compétition' %}event-competition{% elif event.type == 'Film' %}event-film{% endif %}">
        <div style="display: flex; align-items: center;"> <!-- Conteneur flex pour aligner le logo et le texte -->
            <!-- Logo cliquable avec le lien -->
            <a href="{{ event.lien }}" target="_blank"> <!-- Ouvre le lien dans un nouvel onglet -->
                <img src="{{ event.lien_logo }}" alt="Logo" style="height: 100px; margin-right: 10px;">
            </a>
            <div> <!-- Conteneur pour le texte -->
            <a href="{{ event.lien }}" target="_blank"> <!-- Ouvre le lien dans un nouvel onglet -->
                <strong>{{ event.nom }}</strong></a><br>
                Du {{ event.date_debut }} au {{ event.date_fin }}<br>
                Adresse : {{ event.adresse }}<br>
                Type : {{ event.type }}<br>
            </div>
        </div>
    </div>
{% endfor %}


        <!-- Pagination -->
        <div class="pagination">
            <span class="step-links">
                {% if events.has_previous %}
                    <a href="?page=1">&laquo; Première page </a>
                    <a href="?page={{ events.previous_page_number }}">Page précédente</a>
                {% endif %}

                <span class="current">
                    Page {{ events.number }} sur {{ events.paginator.num_pages }}
                </span>

                {% if events.has_next %}
                    <a href="?page={{ events.next_page_number }}">Page suivante</a>
                    <a href="?page={{ events.paginator.num_pages }}">Dernière page &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    </div>
</body>
</html>

